<div class="container">
  <div id="friend-lookup">
    <h5>Search for friends</h5>
    <%= form_tag search_friends_path, remote: true, method: :get, id: "friend-lookup-form" do %>
      <div class="form-group text-center col-md-12">
        <div class="col-md-2">
          <%= text_field_tag :search_param, params[:search_param],
                              placeholder: "last name, or email", autofocus: true,
                              class: 'form-control search-box input-sm' %>
        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>
            <i class="fa fa-search"></i> Look up a friend
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @users %>
    <% if @users.size > 0 %>
      <div class="col-md-10">
        <table class="col-md-12">
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td id="user-table"> <%= user.name %></td>
              <td id="user-table"> <%= user.email %></td>
              <td id="user-table"> <%= link_to "View Profile", user_path(user),
                                          class:"btn btn-xs btn-success" %>
                <% if current_user.not_friends_with?(user.id) %>
                  <%= link_to "Add as my friend", add_friend_path(user: current_user, friend: user),
                                          class: "btn btn-xs btn-success", method: :post %>
                <% else %>
                  <span class="label label-primary">You are friends</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="col-md-12">
        No people match this search
      </p>
    <% end %>
  <% end %>
</div>
