<div class="container">
  <div id="friend-lookup">
    <%= form_tag search_friends_path, remote: true, method: :get, id: "friend-lookup-form" do %>
      <div class="form-group text-center col-md-12">
        <div class="col-md-2">
          <%= text_field_tag :search_param, params[:search_param],
                              placeholder: "name, email", autofocus: true,
                              class: 'form-control search-box input-sm' %>
        </div>
        <div class="col-md-2">
          <%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>
            <i class="fa fa-search"></i> Search
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'common/spinner' %>
    <% if @users %>
    <% if @users.size > 0 %>
      <div id="friend-lookup-results" class="col-md-10">
        <div class="col-md-6">
          <%= render 'users/user', obj: @users %>
        </div>
      </div>
    <% else %>
      <p class="col-md-12">
        No people match this search
      </p>
    <% end %>
    <% end %>
  </div>
</div>
