<div class="container">
  <div class="col-md-12">
    <div class="col-md-4"></div>
    <div class=" col-md-6">
    <h1 class="col-md-offset-2">All users</h1>
    <table>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td id="user-table" class="col-xs-1"><%= link_to gravatar_for(user, 30), user_path(user) %></td>
          <% if user.github? %>
          <td><h4><i class="icon-space-left"><%= link_to "", "http://#{user.github}", :target => "_blank", class:"fa fa-github-alt", id:"icon-space"%></i></h4></td>
          <% end %>
          <!-- <%# if user.twitter? %>
          <td><i><%#= link_to "", "", :target => "_blank", class:"fa fa-twitter-square"%></i></td>
          <%# end %> -->
          <td id="user-table" class="col-xs-offset-1"><%= link_to user.name, user_path(user) %></td>
          <td>
            <% if current_user.not_friends_with?(user.id) %>
              <%= link_to "Add as my friend", add_friend_path(user: current_user, friend: user),
                                                class: "btn btn-xs btn-success", method: :post %>
              <span class="label label-primary">Not friedns</span>
            <% else %>
              <span class="label label-primary">
                You are friends
              </span>
            <%= link_to "Remove Friend", friendship_path(user), method: :delete,
                                              data: { confirm: "Are you sure?" },
                                              class:"btn btn-xs btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-md-2">
    </div>
  </div>
</div>
