<% obj.each do |post| %>
<div class="row">
  <div class="col-md-1">
    <span id="no-space" class="h4"><%= link_to "", like_post_path(post), method: :put, class: "glyphicon glyphicon-menu-up" %>
    <div id="post-score"><%= post.score %></div>
    <span id="no-space" class="h4"><%= link_to "", unlike_post_path(post), method: :put, class: "glyphicon glyphicon-menu-down" %>
  </div>
  <div class="col-md-2">
    <div id="avatar"><%= link_to gravatar_for(post.user, 30), user_path(post.user) %></div>
    <h6><%= link_to post.user.name, user_path(post.user) if post.user.name? %></h6>
  </div>
  <div class="col-md-8 col-xs-12">
    <h5>
      <%= link_to post.title, post_path(post), id:"post-path"%>
      <%= link_to post.link, "http://#{post.link}", :target => "_blank", id:"post-link" %>
    </h5>
    <h5>
      <%= post.description %>
    </h5>
    <hr>
  </div>
    <div class="col-md-1">
    </div>
  </div>
<% end %>
