<div class="container">
  <div class="col-md-12">
    <div>
      <div class="col-md-12">
        <h3>
          <%= @post.user.name %>
          <% if user_signed_in? %>
            <% if @post.user.id == current_user.id || current_user.admin? %>
              <%= link_to "", edit_post_path(@post), class: "glyphicon glyphicon-cog" %>
              <%= link_to "", post_path(@post), method: :delete, data: {confirm: "Are you sure"},
                                              class: "glyphicon glyphicon-trash" %>
        </h3>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-1">
      <h4><%= link_to gravatar_for(@post.user, 60), user_path(@post.user) %></h4>
      <h2><%= link_to "", posts_path, class: "glyphicon glyphicon-arrow-left" %></h2>
    </div>
    <div class="col-md-8">
    <strong><h4><%= @post.title %></strong> <span><%= link_to @post.link, "https://#{@post.link}",
                          :target => "_blank", id:"post-link" %></span></h4>
    <%= @post.description %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-8">

  </div>
  <div>

  </div>
